.embla {
	position: relative;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y pinch-zoom;
}

.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

.embla__slide__number {
	font-size: 0.5rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.overlay {
	position: absolute;
	padding: 0.5rem;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background: linear-gradient(to top, #000000, transparent 100%);
	z-index: 1;
}

.embla__controls {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
}

.embla__dots {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	color: white;
}

.embla__dot {
	-webkit-tap-highlight-color: rgba(var(--admonition-danger));
	-webkit-appearance: none;
	appearance: none;
	background-color: #c3c3c3;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	width: 0.5rem;
	height: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.embla__dot--selected {
	background-color: white;
}
