@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Nimbus";
	font-display: swap;
	src: url("./assets/fonts/nimbus.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(17, 0, 29));
	margin: 0 auto;
	max-width: 1920px;
}

:hover.primaryButton::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0px;
	background: linear-gradient(263deg, #7209b7 0%, #4361ee 51.5%, #4cc9f0 100%);
	filter: blur(8px);
	border-radius: inherit;
	pointer-events: none;
}

li:hover a svg path {
	fill: white;
}

.overlay {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background: linear-gradient(to top, #000000, transparent 100%);
	z-index: 1;
}

.tag::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 0.35rem;
	border: 2px solid transparent;
	background: linear-gradient(to left, #7209b7 0%, #4361ee 51.5%, #4cc9f0 100%)
		border-box;
	mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.side-menu {
	animation: slideDown 0.5s ease-out forwards;
}

.side-menu-closing {
	animation: slideUp 0.5s ease-out forwards;
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
