@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Nimbus';
	font-display: swap;
	src: url('./assets/fonts/nimbus.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #c3c3c3 black;
}

li:hover a svg path {
	fill: white;
}

.overlay {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background: linear-gradient(to top, #000000, transparent 100%);
	z-index: 1;
}

.tag::before {
	border: 2px solid transparent;
	background: linear-gradient(to left, #7209b7 0%, #4361ee 51.5%, #4cc9f0 100%)
		border-box;
	mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.side-menu-down {
	animation: slideDown 0.5s ease-out forwards;
}

.side-menu-up {
	animation: slideUp 0.5s ease-out forwards;
}

.side-menu-right {
	animation: slideRight 0.5s ease-out forwards;
}

.side-menu-left {
	animation: slideLeft 0.5s ease-out forwards;
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out forwards;
}

.waves {
	animation: wave 3s infinite ease-out;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLeft {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes wave {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: -100% 0;
	}
}
