@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Nimbus";
	font-display: swap;
	src: url("./assets/fonts/nimbus.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(37, 0, 61, 1));
}

:hover.primaryButton::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0px;
	background: linear-gradient(263deg, #7209b7 0%, #4361ee 51.5%, #4cc9f0 100%);
	filter: blur(16px);
	border-radius: inherit;
	pointer-events: none;
}

li:hover a svg path {
	fill: white;
}

.tag::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 0.35rem;
	border: 2px solid transparent;
	background: linear-gradient(to left, #7209b7 0%, #4361ee 51.5%, #4cc9f0 100%)
		border-box;
	mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
